body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hijo {
    background: #4C35AA;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}

.hijo::before {
    background: red;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

.hijo::after {
    background: white;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}